<?xml version="1.0"?>
<launch>

  <!-- visualise the poses inside the pose selector as textured meshes -->
  <arg name="object_color_rgba_pick" value="[0,0,0,0]"/>
  <node pkg="pose_selector" type="pose_selector_visualizer.py" name="pick_pose_selector_visualiser" output="screen">
    <rosparam command="load" file="$(find pbr_objects)/config/textured_meshes.yaml" /> <!-- Path to mesh objects config file -->
    <rosparam param="object_color_rgba" subst_value="True">$(arg object_color_rgba_pick)</rosparam>
    <remap from="/pose_selector_get_all_service" to="/pick_pose_selector_node/pose_selector_get_all" />
  </node>

  <!-- visualise grasps ( draws multiple brown grippers :1 per grasp ; as mesh in rviz using visualisation marker array ) -->
  <node pkg="grasplan" type="rviz_gripper_visualiser.py" name="rviz_gripper_visualiser" output="screen">
    <param name="global_reference_frame" type="string" value="map" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/gripper_open_transformations.yaml" command="load" ns="gripper_transformations"/>
    <remap from="pose_array" to="/mobipick/pick_object_node/grasp_poses"/>
  </node>
  <!-- pick object script using handcoded grasp planner
       (grasps  defined manually using grasp editor or recorded via gazebo zero gravity environment) -->
  <node pkg="grasplan" type="pick.py" name="pick_object_node" output="screen" ns="mobipick" >
    <param name="import_file" type="string" value="grasplan.grasp_planner.handcoded_grasp_planner" />
    <param name="import_class" type="string" value="HandcodedGraspPlanner" />
    <param name="pose_selector_activate_srv_name" type="string" value="/pick_pose_selector_node/pose_selector_activate" />
    <param name="pose_selector_class_query_srv_name" type="string" value="/pick_pose_selector_node/pose_selector_class_query" />
    <param name="pose_selector_get_all_poses_srv_name" type="string" value="/pick_pose_selector_node/pose_selector_get_all" />
    <param name="pose_selector_delete_srv_name" type="string" value="/pick_pose_selector_node/pose_selector_delete" />
    <param name="detach_all_objects" value="true" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/pick_params.yaml" command="load" />
    <rosparam file="$(find tables_demo_bringup)/config/moelk_tables_planning_scene.yaml" command="load" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/grasp_planning_core_params.yaml" command="load" />
    <!-- allows to specify how much the gripper should close per object -->
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/object_grasps/gripper_distance_values_per_object.yaml" command="load" />
    <!-- pregrasp planner parameters -->
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/object_grasps/handcoded_grasp_planner_relay.yaml"
              command="load" ns="handcoded_grasp_planner_transforms" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/object_grasps/handcoded_grasp_planner_screwdriver.yaml"
              command="load" ns="handcoded_grasp_planner_transforms" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/object_grasps/handcoded_grasp_planner_multimeter.yaml"
              command="load" ns="handcoded_grasp_planner_transforms" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/object_grasps/handcoded_grasp_planner_klt.yaml"
              command="load" ns="handcoded_grasp_planner_transforms" />
    <rosparam file="$(find mobipick_pick_n_place)/config/grasplan/object_grasps/handcoded_grasp_planner_power_drill_with_grip.yaml"
              command="load" ns="handcoded_grasp_planner_transforms" />
  </node>

</launch>
