<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="mobipick" doc="robot namespace and tf prefix (#226: mobipick2 for a second robot)" />
  <arg name="map_ns" default="" doc="namespace of the map servers, empty: /map (#226)" />
  <arg name="map_frame" default="map" doc="global map frame (#226: mobipick2/map for the robot in the second scene copy)" />

  <!-- navigation stack (move base) -->
  <include file="$(find mir_navigation)/launch/start_planner.launch">
    <arg name="map_file" value="$(find pbr_maps)/maps/cic/cic.yaml" />
    <arg name="virtual_walls_map_file" value="$(find pbr_maps)/maps/cic/cic_tables_demo_virtual_walls.yaml" />
    <arg name="prefix" value="$(arg namespace)/" />
    <arg name="map_ns" value="$(arg map_ns)" if="$(eval arg('map_ns') != '')" />
    <arg name="map_frame" value="$(arg map_frame)" if="$(eval arg('map_frame') != 'map')" />
  </include>

</launch>
