<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="false" />
  <arg name="world_config" default="moelk_tables" doc="objects arrangement, options: moelk_tables, cic_tables, truck_assembly" />
  <arg name="objects_of_interest" default="[relay, screwdriver, multimeter, power_drill_with_grip, hot_glue_gun, klt]"/>
  <arg name="dope_converter_config" default="$(find pbr_objects)/config/class_ids.yaml" />

  <!-- please run separately! : -->
  <!--roslaunch mobipick_bringup mobipick_bringup_both.launch -->

  <!-- 6D pose estimation and classification with deep learning -->
  <!--include file="$(find pbr_dope)/launch/dope.launch"-->

  <!-- MoveIt macros -->
  <include file="$(find robot_api)/launch/moveit_macros.launch">
    <arg name="namespace" value="mobipick" />
  </include>

  <group if="$(arg simulation)">
    <!-- pose selector: DB to store object poses -->
    <node pkg="pose_selector" type="pose_selector_node" name="pick_pose_selector_node" output="screen">
      <param name="debug" value="false" />
      <param name="global_reference_frame" value="map" />
      <rosparam param="objects_of_interest" subst_value="True">$(arg objects_of_interest)</rosparam>
      <remap from="/logical_image" to="/mobipick/eef_main_cam/rgb/logical_image"/>
    </node>

    <!-- force torque observer -->
    <node name="ft_observer" pkg="mobipick_pick_n_place" type="ft_observer_sim.py" ns="mobipick" output="screen" />
  </group>

  <group unless="$(arg simulation)">
    <!-- pose selector: DB to store object poses -->
    <node pkg="pose_selector" type="pose_selector_node" name="pick_pose_selector_node" output="screen">
      <param name="debug" value="false" />
      <param name="global_reference_frame" value="map" />
      <rosparam param="objects_of_interest" subst_value="True">$(arg objects_of_interest)</rosparam>
      <remap from="/logical_image" to="/mobipick/object_list"/>  <!-- use output from anchoring -->
    </node>

    <!-- force torque observer -->
    <node name="ft_observer" pkg="mobipick_pick_n_place" type="ft_observer.py" ns="mobipick" output="screen"/>
  </group>

  <!-- ::::: Anchoring ::::: -->
  <include file="$(find daa_bringup)/launch/bringup.launch" />

  <!-- ::::: Grasp planning ::::: -->
  <arg name="ignore_set" default="[roof]" /> <!-- don't display some elements from the planning scene for visualization purposes -->
  <include file="$(find tables_demo_bringup)/launch/includes/grasp_planning.launch">
    <arg name="planning_scene_config" value="$(find tables_demo_bringup)/config/$(arg world_config)_planning_scene.yaml" />
    <arg name="world_config" value="$(arg world_config)" />
    <arg name="ignore_set" value="$(arg ignore_set)" />
  </include>

  <!-- ::::: Place object ::::: -->
  <include file="$(find tables_demo_bringup)/launch/includes/place.launch">
    <arg name="objects_of_interest" value="$(arg objects_of_interest)" />
  </include>

  <!-- ::::: Insert object ::::: -->
  <include file="$(find tables_demo_bringup)/launch/includes/insert.launch"/>

  <!-- config for tables_demo_planning -->
  <rosparam command="load" file="$(find mobipick_pick_n_place)/config/$(arg world_config)_demo.yaml" ns="mobipick/tables_demo_planning" />
</launch>
