<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="false" />
  <arg name="objects_of_interest" default="[relay, screwdriver, multimeter, power_drill_with_grip, klt]"/>
  <arg name="dope_converter_config" default="$(find pbr_dope)/config/class_ids.yaml" />

  <!-- please run separately! : -->
  <!--roslaunch mobipick_bringup mobipick_bringup_both.launch -->

  <!-- 6D pose estimation and classification with deep learning -->
  <!--include file="$(find pbr_dope)/launch/dope.launch"-->

  <!-- MoveIt macros -->
  <include file="$(find robot_api)/launch/moveit_macros.launch">
    <arg name="namespace" value="mobipick" />
  </include>

  <group if="$(arg simulation)">
    <!-- pose selector: DB to store object poses -->
    <node pkg="pose_selector" type="pose_selector_node" name="pick_pose_selector_node" output="screen">
      <param name="debug" value="false" />
      <param name="global_reference_frame" value="map" />
      <rosparam param="objects_of_interest" subst_value="True">$(arg objects_of_interest)</rosparam>
    </node>

    <!-- force torque observer -->
    <node name="ft_observer" pkg="mobipick_pick_n_place" type="ft_observer_sim.py" ns="mobipick" output="screen" />
  </group>

  <group unless="$(arg simulation)">
    <!-- pose selector: DB to store object poses -->
    <node pkg="pose_selector" type="dope_converter_node" name="dope_converter_node" output="screen">
      <remap from="/dope_output" to="/mobipick/dope/detected_objects" />
      <rosparam command="load" file="$(arg dope_converter_config)" />
    </node>
    <node pkg="pose_selector" type="pose_selector_node" name="pose_selector_node" output="screen">
      <remap from="/mobipick/gripper_astra/rgb/logical_image" to="/dope_converter_poses" />
      <remap from="/mobipick/dope/detected_objects" to="/dope_converter_poses"/>
      <param name="debug" value="false" />
      <param name="global_reference_frame" value="map" />
      <rosparam param="objects_of_interest" subst_value="True">$(arg objects_of_interest)</rosparam>
    </node>

    <!-- force torque observer -->
    <node name="ft_observer" pkg="mobipick_pick_n_place" type="ft_observer.py" ns="mobipick" output="screen"/>
  </group>

  <!-- ::::: Grasp planning ::::: -->
  <include file="$(find tables_demo_bringup)/launch/includes/grasp_planning.launch">
    <arg name="objects_of_interest" value="$(arg objects_of_interest)" />
  </include>

  <!-- ::::: Place object ::::: -->
  <include file="$(find tables_demo_bringup)/launch/includes/place.launch">
    <arg name="objects_of_interest" value="$(arg objects_of_interest)" />
  </include>

</launch>
