<?xml version="1.0"?>
<launch>

  <!-- the pose where to spawn the robot in simulation -->
  <arg name="robot_x"   default="10.30" />
  <arg name="robot_y"   default="2.40" />
  <arg name="robot_yaw" default="3.1415" />

  <!-- tables demo gazebo simulation -->
  <include file="$(find mobipick_gazebo)/launch/mobipick/tables_demo.launch" >
    <arg name="robot_x"   value="$(arg robot_x)" />
    <arg name="robot_y"   value="$(arg robot_y)" />
    <arg name="robot_yaw" value="$(arg robot_yaw)" />
  </include>

  <!-- automatically unpause gazebo simulation after some time -->
  <node pkg="pbr_gazebo" type="gazebo_unpauser" name="gazebo_unpauser" output="screen" />

  <!-- object publisher for pick_n_place demo -->
  <node name="gazebo_object_publisher" pkg="mobipick_pick_n_place" type="gazebo_object_publisher" ns="mobipick" output="screen">
    <param name="tf_prefix"  value="mobipick" />
    <param name="robot_name" value="mobipick" />
  </node>

  <!-- node to publish the camera frustum as visualisation marker -->
  <node pkg="mobipick_pick_n_place" type="camera_marker_publisher" name="camera_marker_publisher" output="screen" >
    <param name="camera_frame" value="mobipick/gripper_astra_depth_frame" />
  </node>

  <!-- ::::: Navigation ::::: -->

  <!-- fake localisation (for simulation only) -->
  <include file="$(find mir_gazebo)/launch/fake_localization.launch" ns="mobipick">
    <arg name="odom_frame_id" value="mobipick/odom" />
    <arg name="base_frame_id" value="mobipick/base_footprint" />
  </include>
  <!-- navigation stack (move base) -->
  <include file="$(find mir_navigation)/launch/start_planner.launch">
    <arg name="map_file" value="$(find pbr_maps)/maps/tables_demo/tables_demo.yaml" />
    <arg name="virtual_walls_map_file" value="$(find pbr_maps)/maps/tables_demo/tables_demo_virtual_walls.yaml" />
    <arg name="prefix" value="mobipick/" />
  </include>

  <!-- ::::: Manipulation , MoveIt: arm movement ::::: -->
  <include file="$(find mobipick_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="use_pointcloud" value="false"/>
  </include>

  <include file="$(find tables_demo_bringup)/launch/bringup.launch" >
    <arg name="simulation" value="true" />
  </include>

</launch>
