<?xml version="1.0"?>
<launch>
  <arg name="world_config" default="moelk_tables" doc="objects arrangement, options: moelk_tables, cic_tables" />

  <!-- controls the simulation speed -->
  <arg name="physics_profile" default="fast" doc="options: slow, fast" />

  <!-- if true, gzclient is started -->
  <arg name="gui" default="true" />

  <!-- Transparent overview camera and sparse experiment image recorder. -->
  <arg name="experiment_camera" default="true" />
  <arg name="record_experiment_images" default="false" />
  <arg name="experiment_image_frequency" default="0.2" />
  <arg name="experiment_image_output_dir" default="" />

  <!-- start Gazebo and spawn objects in the simulated world -->
  <include file="$(find mobipick_gazebo)/launch/worlds/$(arg world_config)_spawn_sim_objects.launch">
    <arg name="physics_profile" value="$(arg physics_profile)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- automatically unpause gazebo simulation after some time -->
  <node pkg="pbr_gazebo" type="gazebo_unpauser" name="gazebo_unpauser" output="screen" />

  <include if="$(arg experiment_camera)" file="$(find experiment_camera_recorder)/launch/configured_camera.launch">
    <arg name="record" value="$(arg record_experiment_images)" />
    <arg name="record_frequency" value="$(arg experiment_image_frequency)" />
    <arg name="output_dir" value="$(arg experiment_image_output_dir)" />
  </include>

  <!-- object publisher for pick_n_place demo -->
  <node name="gazebo_object_publisher" pkg="mobipick_pick_n_place" type="gazebo_object_publisher" ns="mobipick" output="screen">
    <param name="tf_prefix"  value="mobipick" />
    <param name="robot_name" value="mobipick" />
  </node>

  <!-- node to publish the camera frustum as visualisation marker -->
  <node pkg="mobipick_pick_n_place" type="camera_marker_publisher" name="camera_marker_publisher" output="screen" >
    <param name="camera_frame" value="mobipick/eef_main_cam_depth_frame" />
  </node>

  <!-- ::::: Navigation ::::: -->

  <!-- fake localisation (for simulation only) -->
  <include file="$(find mir_gazebo)/launch/fake_localization.launch" ns="mobipick">
    <arg name="odom_frame_id" value="mobipick/odom" />
    <arg name="base_frame_id" value="mobipick/base_footprint" />
  </include>
  <!-- navigation stack (move base) -->
  <include file="$(find tables_demo_bringup)/launch/includes/navigation/$(arg world_config).launch"/>

  <!-- ::::: Manipulation , MoveIt: arm movement ::::: -->
  <include file="$(find mobipick_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="use_pointcloud" value="false"/>
  </include>

  <include file="$(find tables_demo_bringup)/launch/bringup.launch" >
    <arg name="simulation" value="true" />
    <arg name="world_config" value="$(arg world_config)" />
  </include>
</launch>
